
{% extends "baseMateri.html"%}

{% load static %}

{% block judul %}
  <title>BAB 4  : Struktur Perulangan </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock judul %}

{% block konten %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#bab1-nav" data-bs-toggle="collapse" href="#">
        <span>Program dan Pemrograman</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="bab1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'beranda_1'%}">
            <i class="bi bi-circle"></i><span>Beranda</span>
          </a>
        </li>
        <li>
          <a href="{% url 'program'%}">
            <i class="bi bi-circle"></i><span>Pemorgraman</span>
          </a>
        </li>
        <li>
          <a href="{% url 'bahasa_pemrograman'%}">
            <i class="bi bi-circle"></i><span>Bahasa Pemrograman</span>
          </a>
        </li>
        <li>
            <a href="{% url 'interpreter_compiler'%}">
              <i class="bi bi-circle"></i><span>Bahasa Pemrograman Interpretasi</span>
            </a>
          </li>
          <li>
            <a href="{% url 'bahasa_python' %}">
              <i class="bi bi-circle"></i><span>Bahasa Python</span>
            </a>
          </li>
          <li>
            <a href="{% url 'kuis_bab1' %}">
              <i class="bi bi-circle"></i><span>Kuis BAB 1</span>
            </a>
          </li>
        </ul>

        <li {% if user.siswa.progres < 1 %} class="disabled" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link collapsed" data-bs-target="#bab2-nav" data-bs-toggle="collapse" href="#">
           <span>Sintak Dasar Python</span>
           {% if user.siswa.progres < 1 %}
           <i class="bi bi-lock-fill ms-auto"></i>
         {% else %}
           <i class="bi bi-chevron-down ms-auto"></i>
         {% endif %}
          </a>
          <ul id="bab2-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'beranda2' %}">
                <i class="bi bi-circle"></i><span>Beranda</span>
              </a>
            </li>
            <li>
              <a href="{% url 'sintak_dasar'%}">
                <i class="bi bi-circle"></i><span>Sintak Dasar</span>
              </a>
            </li>
            <li>
              <a href="{% url 'komentar'%}">
                <i class="bi bi-circle"></i><span>Komentar</span>
              </a>
            </li>
            <li>
              <a href="{% url 'kuis_bab2'%}">
                <i class="bi bi-circle"></i><span>Kuis Bab 2</span>
              </a>
            </li>
        </ul>
      </li>

      
      <li {% if user.siswa.progres < 2 %} class="disabled" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link collapsed" data-bs-target="#bab3-nav" data-bs-toggle="collapse" href="#">
         <span>Tipe Data, variabel, Operator</span>
         {% if user.siswa.progres < 2 %}
         <i class="bi bi-lock-fill ms-auto"></i>
       {% else %}
         <i class="bi bi-chevron-down ms-auto"></i>
       {% endif %}
        </a>
        <ul id="bab3-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'beranda3' %}">
              <i class="bi bi-circle"></i><span>Beranda</span>
            </a>
          </li>
          <li>
            <a href="{% url 'tipe_data'%}">
              <i class="bi bi-circle"></i><span>Tipe Data</span>
            </a>
          </li>
          <li>
            <a href="{% url 'variabel'%}">
              <i class="bi bi-circle"></i><span>Varaibel</span>
            </a>
          </li>
          <li>
            <a href="{% url 'operator'%}">
              <i class="bi bi-circle"></i><span>Operator</span>
            </a>
            <li>
                <a href="{% url 'operator_penugasan'%}">
                  <i class="bi bi-circle"></i><span>Operator Penugasan</span>
                </a>
          </li>
          <li>
            <a href="{% url 'operator_perbandingan'%}">
              <i class="bi bi-circle"></i><span>Operator Perbandingan</span>
            </a>
        </li>
        <li>
                <a href="{% url 'operator_logika'%}">
                  <i class="bi bi-circle"></i><span>Operator Logika</span>
                </a>
        </li>   
            <a href="{% url 'kuis_bab2'%}"> 
              <i class="bi bi-circle"></i><span>Kuis BAB 3</span>
            </a>
          </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li {% if user.siswa.progres < 3 %} class="disabled" {% else %} class="nav-item" {% endif %}>
      <a class="nav-link " data-bs-target="#bab4-nav" data-bs-toggle="collapse" href="#">
        <span>Input Output Dasar</span>
        {% if user.siswa.progres < 3 %}
        <i class="bi bi-lock-fill ms-auto"></i>
      {% else %}
        <i class="bi bi-chevron-down ms-auto"></i>
      {% endif %}
      </a>
      <ul id="bab4-nav" class="nav-content collapse show " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'beranda4' %}" class="active">
              <i class="bi bi-circle"></i><span>Beranda </span>
            </a>
        </li>
         <li>
            <a href="{% url 'input' %}">
            <i class="bi bi-circle"></i><span>Input Dasar</span>
            </a>
              </li>
          <a href="{% url 'output' %}">
            <i class="bi bi-circle"></i><span>Output Dasar</span>
          </a>
        </li>
         <a href="kuis_bab4">
              <i class="bi bi-circle"></i><span>Kuis BAB 4</span>
            </a>
          </li>
      </ul>
    </li><!-- End Charts Nav -->

    <li {% if user.siswa.progres < 4 %} class="disabled" {% else %} class="nav-item" {% endif %}>
      <a class="nav-link collapsed" data-bs-target="#bab5-nav" data-bs-toggle="collapse" href="#">
        <span>Struktur Percabangan</span>
        {% if user.siswa.progres < 4 %}
        <i class="bi bi-lock-fill ms-auto"></i>
      {% else %}
        <i class="bi bi-chevron-down ms-auto"></i>
      {% endif %}
      </a>
      <ul id="bab5-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'beranda3' %}">
              <i class="bi bi-circle"></i><span>Beranda</span>
            </a>
          </li>
          <li>
            <a href="{% url 'percabangan' %}">
              <i class="bi bi-circle"></i><span>Pengenalan Struktur Percabangan</span>
            </a>
          </li>
        <li>
          <a href="{% url 'percabangan_if'%}">
            <i class="bi bi-circle"></i><span>Percabangan If</span>
          </a>
        </li>
        <li>
          <a href="{% url 'percabangan_if_else'%}">
            <i class="bi bi-circle"></i><span>Percabangan If...Else</span>
          </a>
        </li>
        <li>
          <a href="{% url 'percabangan_bersarang'%}">
            <i class="bi bi-circle"></i><span>Percabangan Bersarang</span>
          </a>
        </li>
        <li>
          <a href="{% url 'percabangan_elif' %}">
            <i class="bi bi-circle"></i><span>Percabangan Elif</span>
          </a>
        </li>
        <li>
            <a href="{% url 'kuis_bab3' %}">
              <i class="bi bi-circle"></i><span>Kuis BAB 3</span>
            </a>
          </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li {% if user.siswa.progres < 5 %} class="disabled" {% else %} class="nav-item" {% endif %}>
      <a class="nav-link collapsed" data-bs-target="#bab6-nav" data-bs-toggle="collapse" href="#">
        <span>Struktur Perulangan</span>
        {% if user.siswa.progres < 5 %}
        <i class="bi bi-lock-fill ms-auto"></i>
      {% else %}
        <i class="bi bi-chevron-down ms-auto"></i>
      {% endif %}
      </a>
      <ul id="bab6-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'beranda4' %}">
              <i class="bi bi-circle"></i><span>Beranda </span>
            </a>
        </li>
         <li>
            <a href="{% url 'perulangan' %}">
            <i class="bi bi-circle"></i><span>Pengenalan Struktur Perulangan</span>
            </a>
              </li>
          <a href="{% url 'perulangan_while' %}">
            <i class="bi bi-circle"></i><span>Perulangan While</span>
          </a>
        </li>
        <li>
          <a href="{% url 'perulangan_while' %}">
            <i class="bi bi-circle"></i><span>Perulangan For</span>
          </a>
        </li>
        <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Kuis BAB 4</span>
            </a>
          </li>
      </ul>
    </li><!-- End Charts Nav -->

   

    <li {% if user.siswa.progres < 6 %} class="disabled" {% else %} class="nav-item" {% endif %}>
      <a class="nav-link collapsed" data-bs-target="#bab7-nav" data-bs-toggle="collapse" href="#">
           <span>Fungsi</span>
           {% if user.siswa.progres < 6 %}
           <i class="bi bi-lock-fill ms-auto"></i>
         {% else %}
           <i class="bi bi-chevron-down ms-auto"></i>
         {% endif %}
      </a>
      <ul id="bab7-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href=" {% url 'beranda5'%}">
            <i class="bi bi-circle"></i><span>Beranda</span>
          </a>
        </li>
        <li>
          <a href="{% url 'fungsi'%}">
            <i class="bi bi-circle"></i><span>Fungsi</span>
          </a>
        </li>
        <li>
          <a href="{% url 'cara_kerja_fungsi'%}">
            <i class="bi bi-circle"></i><span>Cara Kerja Fungsi</span>
          </a>
        </li>
        <li>
          <a href="{% url 'parameterisasi_fungsi'%}">
            <i class="bi bi-circle"></i><span>Parameterisasi Fungsi</span>
          </a>
        </li>
        <li>
          <a href="{% url 'variabel_lokal_global'%}">
            <i class="bi bi-circle"></i><span>Variabel Lokal Global</span>
          </a>
        </li>
        <li>
          <a href="{% url 'parameter_formal_aktual'%}">
            <i class="bi bi-circle"></i><span>Parameter Formal Aktual</span>
          </a>
        </li>
        <li>
          <a href="{% url 'parameter_wajib_opsional'%}">
            <i class="bi bi-circle"></i><span>Parameter Wajib dan Opsional</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->   

    <li {% if user.siswa.progres < 7 %} class="disabled" {% else %} class="nav-item" {% endif %}>
    
      <a class="nav-link collapsed"  href="{% url 'input'%}">
           <span>Evaluasi</span>
      </a>
  
      <ul  class="nav-content collapse " data-bs-parent="#sidebar-nav">
      </ul>
    </li>

</aside><!-- End Sidebar-->


  <main id="main" class="main">

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-20">
          <div class="row">        

            <!-- Recent Sales -->
            <div class="col-25">
              <div class="card recent-sales overflow-auto">              

                <div class="card-content">
                  <h3 class="card-title" align="center"></span>BAB 4 Input Output Dasar</h3>
                  <h5>Pendahuluan</h5>
                  <p>Pada bab ini kita akan memabhas input dan output (I/O) dasar dalam bahasa pemrograman Python, yang merupakan elemen penting dalam memungkinkan interaksi antara program
                     dan pengguna serta lingkungan eksternal. Input merujuk pada data yang dimasukkan ke dalam program, misalnya melalui keyboard atau berkas, 
                     sedangkan output adalah hasil yang dihasilkan oleh program dan ditampilkan kepada pengguna, biasanya melalui layar monitor atau disimpan ke dalam berkas. 
                     Pemahaman yang baik tentang bagaimana memanipulasi input dan output dalam Python memungkinkan pengembang untuk membuat program yang lebih dinamis dan interaktif,
                      serta mengimplementasikan solusi yang lebih efektif untuk berbagai masalah pemrograman.</p>

                    <div class="card">
                      <div class="card-header"><h5>Tujuan Pembelajaran :</h5></div>
                          <class="card-text" style="margin:20px;">
                            Setelah memahami input dan output dasar pada bahasa python di media pembelaajran, siswa diharapakan :
                            <ul>
                              <li>Peserta didik memahami kegunaan dan menerapkan fungsi input() untuk menerima inputan dari user.
                              </li>
                              <li>Peserta didik mampu memodofikasi tipe data inputan dan menerapkannya dalam program.</li>
                              <li> 
                                Peserta didik mampu memahami dan dapat menentukan penggunaan tipe data pada pemorgraman pyhton sesuai dengan keperluan.
                              </li>
                              <li> 
                                Peserta didik mampu mengetahui dan memahami operator dasar yang ada di python.
                              </li>
                              <li> 
                                Peserta didik mampu menentukan dan menerapkan penggunaan operator dasar pada bahasa pyhton sesuai dengan keperluan.
                              </li>
                              
                            </ul>
                            </p>                          
                      </div>

                  <div class="btn-nav">
                  <a href="{% url 'kuis_bab3' %}"><button class="btn btn-secondary"> Sebelumnya </button></a>
                  <a href="{% url 'input' %}"><button class="btn btn-primary"> Selanjutnya </button></a>
                  </a>

                </div>

              </div>
            </div>

           

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        

      </div>
    </section>
  </main><!-- End #main -->
{% endblock konten %}

